.icon-style
    display: inline-block
    vertical-align: middle
    line-height: 1
    text-decoration: inherit
    text-rendering: optimizeLegibility
    text-transform: none
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-smoothing: antialiased
    text-decoration: none
    background-position: center center
    background-repeat: no-repeat
    background-size: 100%
    &:hover
        text-decoration: none
.icon-pause
    @extend .icon-style
    width: 12px
    height: 14px
    background-image: url('../../dist/images/ic_pause_24px.svg')
.icon-refresh
    @extend .icon-style
    width: 12px
    height: 14px
    background-image: url('../../dist/images/ic_refresh_24px.svg')
.icon-setting
    @extend .icon-style
    width: 12px
    height: 14px
    background-image: url('../../dist/images/ic_settings_24px.svg')
    &.black
        width: 18px
        heigh: 18px
        background-image: url('../../dist/images/ic_settings_black.svg')
.icon-close
    @extend .icon-style
    width: 12px
    height: 14px
    background-image: url('../../dist/images/ic_close_24px.svg')
.icon-play-left
    @extend .icon-style
    width: 18px
    height: 20px
    background-image: url('../../dist/images/ic_play_arrow_24px.svg')
.icon-play-right
    @extend .icon-style
    width: 18px
    height: 20px
    background-image: url('../../dist/images/ic_play_arrow_24px-r.svg')