.poll-list
    .btn-wrap
        &.lg
            .btn 
                font-family: $montserrat
                font-weight: 500
                text-transform: uppercase
                padding: 15px 50px
                margin-left: 12px
    .create-poll
        font-family: $montserrat
        .wrapper-create
            max-height: 279px
            overflow: auto
            .wrapp-in
                display: none
        .form-group
            margin-bottom: 20px
            .form-control
                height: 48px
                background-color: $bg-notes
            .label-form 
                font-size: 14px
                font-weight: 600
                display: block
            .custom-control-label
                font-size: 14px;
                &:before
                    border: 1px solid $btn-blue
            .btn
                font-size: 12px
                .material-icons
                    font-size: 18px
            .custom-control
                &.radio-color
                    position: relative
                    padding-left: 0
                    margin-right: 8px
                    margin-bottom: 5px;
                    display: inline-block
                    .material-icons
                        display: none
                    .custom-control-input
                        position: absolute
                        top: 0
                        left: 0
                        opacity: 0
                    .custom-control-label
                        border-radius: 3px
                        width: 24px
                        height: 24px
                        background-color: red
                        line-height: 0
                        font-size: 12px
                        color: white
                        cursor: pointer
                        &:after 
                            position: absolute
                            top: 0
                            left: 0
                            opacity: 0
                        &:before
                            position: absolute
                            top: 0
                            left: 0
                            opacity: 0
                        &.blue 
                            background-color: $color-info
                        &.red
                            background-color: $btn-red
                        &.purple
                            background-color: $color-purple
                        &.yellow
                            background-color: $color-yellow
                        &.green
                            background-color: $color-success
                        &.black
                            background-color: black
                    &.select
                        .custom-control-label
                            .material-icons
                                display: block

            .list-question
                list-style: none
                padding-left: 0
                margin-bottom: 15px
                li
                    position: relative
                    border-radius: 3px
                    line-height: 0
                    font-size: 12px
                    color: white
                    width: 100%
                    height: 30px
                    margin-bottom: 15px
                    padding: 15px 10px
                    display: none
                    &.blue 
                        background-color: $color-info
                    &.red
                        background-color: $btn-red
                    &.purple
                        background-color: $color-purple
                    &.yellow
                        background-color: $color-yellow
                    &.green
                        background-color: $color-success
                    &.black
                        background-color: black
                    &.selected
                        display: block
                    .clear
                        color: white
                        position: absolute
                        top: 50%
                        right: 5px
                        font-size: 14px
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);



