.poll-list
    .poll-wrapper
        
        @media (max-width: 1366px)
            height: 410px
        @media (max-width: 1280px)
            height: 355px
    .table-header
        display: table
        width: 100%
        border-bottom: 1px solid rgba(0,0,0,0.125)
        .table-row
            display: table-row
            .table-col
                display: table-cell
                padding: 15px 10px;
                font-family: $montserrat
                font-weight: 700
                color: black
                font-size: 10px
                text-transform: uppercase
                width: 80%
                &:last-child 
                    width: 20%

    .table-striped 
        tbody 
            tr
                &:nth-of-type(odd)
                    background-color: white
                &:nth-of-type(even)
                    background-color: $bg-notes
                td
                    padding: 15px 10px
                    font-family: $montserrat
                    font-size: 14px
                    &:first-child 
                        width: 80%
                    .material-icons
                        vertical-align: middle
                        font-size: 20px
                        color: $color-icon
                    a 
                        color: $color-icon
                        margin-right: 10px



