.progress-bar
    background-color: black
    &.bg-danger
        background-color: $color-danger !important
    &.bg-info
        background-color: $color-info !important
    &.bg-success
        background-color: $color-success !important